absl-py==0.7.0
astor==0.7.1
beautifulsoup4==4.7.1
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.11.5
chardet==3.0.4
Click==7.0
cssselect2==0.2.1
defusedxml==0.5.0
Flask==1.0.2
Flask-Cors==3.0.7
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.1.0
numpy==1.16.0
pandas==0.24.0
pdf-reports==0.2.3
Pillow==5.4.1
protobuf==3.6.1
pycparser==2.19
Pyphen==0.9.5
pypugjs==5.7.2
python-dateutil==2.7.5
pytz==2018.9
scikit-learn==0.20.2
scipy==1.2.0
-e git+git@github.com:howl-anderson/seq2annotation.git@197f5a3875e200f5167ea01a3c5dc42409086fa8#egg=seq2annotation
six==1.12.0
soupsieve==1.7.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tf-metrics==0.0.1
tinycss2==0.6.1
-e git+git@github.com:howl-anderson/tokenizer_tools.git@0d0d41fae58648386b1780cc504ebe569dc94bce#egg=tokenizer_tools
WeasyPrint==44
webencodings==0.5.1
Werkzeug==0.14.1
